@import "vars";


.popup {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .popup__content {
    background-color: $default_pink;
    box-sizing: border-box;
    padding: 60px;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .close-popup {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &:before {
      transform: translate(0px, 8px) rotate(-45deg);
    }

    &:after {
      transform: translate(0px, 8px) rotate(45deg);
    }

    &:hover {
      transform: scale(1.15);
    }

    &, &:hover {
      transition: transform .15s ease;
    }
  }

  .title--popup {
    margin-bottom: 20px;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
  }
}