@import "vars";

form {
    position: relative;

    label {
        display: none;
    }

    .form-control {
        color: #fff;
        right: 0;
        background-color: transparent;
        border: 1px solid #fff;
        padding: 15px;
        border-radius: 0;
    }

    input[type="text"] {
        color: #fff !important;
        background-color: rgba(0, 0, 0, 0) !important;
        box-shadow: none !important;
        border-color: #fff !important;

        &::placeholder {
            color: #fff;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset !important;
            -webkit-animation-name: autofill;
            -webkit-animation-fill-mode: both;
        }

        &, &:hover, &:active, &:focus {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .custom-checkbox {
        label {
            cursor: pointer;
            display: block;
            user-select: none;
        }
    }

    .custom-control-label {
        &:before {
            border-color: #fff !important;
            background-color: $default_pink !important;
            border-radius: 0 !important;
            box-shadow: none !important;
        }
    }
}