@import "vars";


body {
  background-color: #1e2121;
  color: #fff;

  &.non-scrollable {
    overflow: hidden;
  }

  &:after {
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, .75);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s ease;
  }

  &.menu-opened {
    overflow: hidden;

    &:after {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.navbar {
  @media (min-width: 576px) and (max-width: 1200px) {
    padding: 15px 0 !important;
  }
}

.title {
  &--h1 {
    font-size: 72px;
    line-height: 80px;

    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 60px;
      line-height: 68px;
    }

    @media (max-width: 768px) {
      font-size: 56px;
      line-height: 64px;
    }
  }
}

//
.container {
  //  display: none;
  //
  //  &--desktop {
  //    @media (min-width: 1024px) {
  //      display: block;
  //    }
  //  }
  //  &--tablet {
  //    @media (min-width: 768px) and (max-width: 1024px) {
  //      display: block;
  //    }
  //  }
  &:empty {
    display: none;
  }

  &--mobile {
    display: none !important;
    @media (max-width: 1200px) {
      display: block !important;
    }
  }
  //  }
  //  //@media (min-width: 1200px) {
  //  //  .container {
  //  //    max-width: 1380px;
  //  //  }
  //  //}
}

//@media (min-width: 1200px) {
//  .container {
//    max-width: 1380px;
//  }
//}

h1 {
  font-size: 72px;
  line-height: 80px;
}

.additional-buttons {
  display: flex;
  width: 500px;
  justify-content: flex-end;
  max-width: 100%;

  .formSearch {
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
    width: 100%;

    label {
      display: none;
    }
    input {
      color: #fff;
      right: 0;
      background-color: transparent;
      border: 1px solid #fff;
      padding: 15px 0;
      width: 0;
      position: absolute;
      transition: width .15s ease, padding-left .15s ease, padding-right .15s ease;

      @media (max-width: 1200px) {
        position: relative;
        width: 100%;
        padding: 15px 10px;
      }
    }
    .btn {

      &, &:hover, &:active, &:focus {
        box-shadow: none;
      }

      &--icon {
        &.btn-icon--search {
          position: absolute;
          right: 0;
          background-color: rgba(0, 0, 0, 0);
          width: 20px;
          height: 36px;

          .icon {
            transform: rotate(-45deg);

            &:before, &:after {
              content: '';
              position: absolute;
              width: 10px;
              height: 18px;
              background-image: url("/static/images/sprite.svg");
              background-size: 60px 80px;
              background-repeat: no-repeat;
              transform: rotate(-45deg) translateY(-50%) scale(2);
              right: 10px;
              left: auto;
              top: 50%;
            }

            &:before {
              content: '';
              position: absolute;
              width: 10px;
              height: 18px;
              background-image: url("/static/images/sprite.svg");
              background-position: -10px -33px;
              background-size: 60px 80px;
              background-repeat: no-repeat;
              transform: rotate(-45deg) translateY(-50%) scale(2);
              right: 10px;
              left: auto;
              top: 50%;
            }

            &:after {
              content: '';
              position: absolute;
              width: 10px;
              height: 18px;
              background-image: url("/static/images/sprite.svg");
              background-position: 0 -33px;
              background-size: 60px 80px;
              background-repeat: no-repeat;
              transform: rotate(-45deg) translateY(-50%) scale(2);
              right: 10px;
              left: auto;
              top: 50%;
              opacity: 0;
            }
          }
          &:hover {
            .icon {
              &:before {
                opacity: 0;
              }

              &:after {
                opacity: 1;
              }
            }
          }

          &, &:hover {
            .icon:before, .icon:after {
              transition: opacity .35s ease;
            }
          }
        }
      }
    }

    &.visible {
      input {
        width: 100%;
        padding-left: 10px;
        padding-right: 44px;
      }
    }
  }
}

.text--white {
  color: #fff
}

.text--center {
  text-align: center;
}

#content {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: 1200px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

.footer {
  padding: 1rem;
}

.noscroll {
  overflow: hidden;
}

.bg-dark {
  background-color: #212529 !important;
}

.btn {
  padding: 15px 10px;
  box-sizing: border-box;
  border-radius: 0;

  &:active, &:focus {
    box-shadow: none;
  }

  &--pink {
    background-color: $default_pink;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: rgba($default_pink, .75);
    }

    &, &:hover {
      transition: background-color .15s ease;
    }
  }

  &--green {
    background-color: $default_green;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: rgba($default_green, .75);
    }

    &, &:hover {
      transition: background-color .15s ease;
    }
  }

  &--white {
    background-color: #fff;
    color: #333;

    &:hover {
      color: #333;
      background-color: rgba(#fff, .75);
    }

    &, &:hover {
      transition: background-color .15s ease;
    }
  }
}