.block-films {

  .block-title {
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
  }

  .films {
    padding-top: 20px;
    display: block;
    position: relative;
    margin-bottom: -10px;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  &:nth-of-type(even) {
    background-color: #d5d5d5;

    .block-title {
      color: #1e2121;
    }
  }
}