@import "../../vars";


.film {
  padding-bottom: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;

  .film-wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    cursor: pointer;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1d1d1d;

    &:hover {
      .preview {
        &:after {
          opacity: .75;
        }
      }
    }

    &, &:hover {
      .preview {
        &:after {
          transition: opacity .15s ease;
        }
      }
    }
  }

  .film__preview {
    height: 360px;
    display: block;
    position: relative;
    overflow: hidden;

    img {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($default_green, .5);
      opacity: 0;
    }
  }

  .film__title {
    font-size: 24px;
    line-height: 32px;
  }

  .film__rating {
    margin-top: 15px;
    display: flex;

  }

  .film__description {
    margin-top: 15px;

  }

  .film__information {
    display: block;
    //background-color: #676565;
    padding: 20px;
  }

  .torrents {
    margin-top: 20px;
  }
}
