@import "../../vars";


.genre {
  margin-bottom: 20px;
  position: relative;

  .genre-wrapper {
    &:before {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, .75);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .preview {
      height: 300px;
      position: relative;
      overflow: hidden;
      z-index: 0;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .title {
      position: absolute;
      color: $default_pink;
      //height: 100%;
      //width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 1;
    }
  }

  a.genre-wrapper {
    &:hover {
      &:before {
        background-color: rgba($default_green, .75);
      }

      .title {
        color: #fff;
      }
    }

    &, &:hover {
      &:before {
        transition: background-color .15s ease;
      }

      .title {
        transition: color .15s ease;
      }
    }
  }
}