$i: 0;

.star {
      margin-right: 3px;
      width: 20px;
      height: 20px;
      overflow: hidden;
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        background-image: url("/static/images/sprite.svg");
        background-size: 60px 80px;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }

      &:before {
        background-position: -20px 0;
        //  //z-index: 2;
      }
      &:after {
        background-position: -20px 0;
      }
      &--active {
        &:after {
          background-position: 0 0;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

@while $i < 100 {
  $x: $i + '%';
  [data-percent="#{$i}"] {
    &:after {
      width: calc(20px * (#{$i} / 100)) !important;
    }
  }

  $i: $i + 1;
}