@import "../../vars";


.top-film {
  padding-bottom: 20px;
  box-sizing: border-box;
  height: 100%;

  .film-wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;

    &:hover {
      .preview {
        &:after {
          opacity: .75;
        }
      }
    }

    &, &:hover {
      .preview {
        &:after {
          transition: opacity .15s ease;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .film__preview {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($default_green, .5);
      opacity: 0;
    }

    img {
      position: relative;
      left: 50%;
      top: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: 768px) {
      height: 360px;
    }
  }

  .film__preview, .film__information {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .film__title {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
  }

  .film__rating {
    margin-top: 15px;
    display: flex;
  }

  .film__description {
    margin-top: 15px;
    color: #fff;
  }

  .film__information {
    display: block;
    background-color: #1d1d1d;
    padding: 20px;

    @media (min-width: 768px) {
      height: 100%;
    }
  }
}