{#{% load critical_tags %}#}
{% load static %}
{% load i18n %}
{% load custom_scripts %}
{% load inline_static_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
            {{ title }} | Collect Films
        {% else %}
            Collection Films
        {% endif %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="{{ seo.title }}"/>
    <meta name="description" content="{{ seo.description }}"/>
    <meta name="keywords" content="{{ seo.keywords }}"/>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <style>
        {% inline_style 'styles/default.min.css' %}
    </style>
    <style>
        {% inline_style 'styles/global_critical.min.css' %}
    </style>

    <link rel="preload" href="{% static 'styles/global.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <noscript><link href="{% static 'styles/global.min.css' %}" rel="stylesheet"></noscript>

    {% block styles %}{% endblock %}
    {% custom_scripts_head %}
</head>
<body>
{% custom_scripts_body_start %}

{#<header class="header">#}
{#    {% include '_components/menu/menu.html' with collapseModify="collapseHeader" %}#}
{#</header>#}

{% include '_components/menu/menu.html' with classes="navbar--fixed" collapseModify="collapseMenu" %}

<div id="content">
    <!-- Slider main container -->
    <div class="swiper-header-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="swiper-slide__content slide-content">
                    <div class="slide-content__image">
                        <img src="{% static 'images/main/w/w1.jpg' %}" alt="">
                    </div>
                    {#                    <div class="slide-content__title">#}
                    {#                        <span class="title slide-title">Dorian Grey 1</span>#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide__content slide-content">
                    <div class="slide-content__image">
                        <img src="{% static 'images/main/w/w2.jpg' %}" alt="">
                    </div>
                    {#                    <div class="slide-content__title">#}
                    {#                        <span class="title slide-title">Dorian Grey 2</span>#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide__content slide-content">
                    <div class="slide-content__image">
                        <img src="{% static 'images/main/w/w3.jpg' %}" alt="">
                    </div>
                    {#                    <div class="slide-content__title">#}
                    {#                        <span class="title slide-title">Dorian Grey 3</span>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
        <div class="swiper__title">
            <div class="container">
                <h1 class="title title--h1 slide-title">{{ header }}</h1>
            </div>
        </div>
    </div>
    {% block content %}{% endblock content %}
</div>
<footer class="footer bg-dark">
    <div class="container text--center">
        <span class="text--white">{{ request.get_host }}, {% now 'Y' %}</span>
    </div>
</footer>
<link href="{% static 'scripts/scripts_vendors.min.js' %}" rel="preload" as="script">
<script src="{% static 'scripts/scripts_vendors.min.js' %}"></script>
<link href="{% static 'scripts/global.min.js' %}" rel="preload" as="script">
<script src="{% static 'scripts/global.min.js' %}"></script>

{% block scripts %}{% endblock %}
{% custom_scripts_body_end %}
</body>
</html>
