@import "../../vars";

header {
}

.swiper-header-container {
  height: 700px;
  width: 100%;
  user-select: none;
  overflow: hidden;
  position: relative;

  .swiper-slide {
    .swiper-slide__content {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;

      .slide-content__image {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 1;
        }

        img {
          min-width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .swiper__title {
    position: absolute;
    color: #fff;
    font-size: 48px;
    line-height: 56px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;

    &:before {
      content: '';
      background-color: rgba(0, 0, 0, .5);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}