@import '../vars';

.film {

  .poster {
    width: 300px;

    img {

    }
  }

  table {
    tr {
      td {
        span {
          box-sizing: border-box;
          //padding: 5px 20px;
          display: block;
          text-transform: capitalize;
        }

        iframe {

        }
      }
    }

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }
  .btn {
    margin-left: 20px;
  }

  .result {
    margin-top: 20px;
  }

  .links {
    margin-top: 20px;

    .link {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__trailer {
    margin: 20px 0 0;
  }

  iframe {
    max-width: 100%;
  }
}
