.search {
  .films {
    padding-top: 20px;
    display: block;
    position: relative;
    margin: 0 -15px;
  }
}
.search-information {
  height: 200px;
  position: relative;

  &--hidden {
    display: none;
  }
}

.search-preloader, .search-error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.search-preloader {
  transform: translate(calc(-50% - 7px),calc(-50% - 17px));

  &:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("/static/images/sprite.svg");
    background-size: 60px 80px;
    background-repeat: no-repeat;
    background-position: -45px 0;
    transform-origin: center;
    animation-fill-mode: forwards;
    animation: rotatePreloader 1s infinite;
    animation-timing-function: linear;
  }

  &.hidden {
    display: none;
  }
}

.search-error {

  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 15px;
    left: 50%;
    background-image: url("/static/images/sprite.svg");
    background-size: 60px 80px;
    background-repeat: no-repeat;
    background-position: -45px -33px;
    transform-origin: center;
    transform: translateX(-50%) scale(10);
  }

  &.hidden {
    display: none;
  }
}

@keyframes rotatePreloader {
  from {
    transform: scale(10) rotate(0deg);
  }

  to {
    transform: scale(10) rotate(360deg);
  }
}