{% load i18n %}

<style>
    body {
        background-color: #2DB864;
    }

    .films {

    }

    .films {

    }

    .film {
        margin-top: 20px;
    }

    .film:first-of-type {
        margin-top: 0;
    }

    .film__preview {
        margin-bottom: 10px;
    }

    .film__title {

    }

    .film__description {
        margin-top: 10px;
    }

    .film__link {
        margin-top: 10px;
    }
</style>

{% blocktrans %}
    <p>Hello!</p>
    <p>It's newsletter was creates specially for you!</p>
    <p>Go to our website for download it!</p>
{% endblocktrans %}

<div class="films">
    {% for film in films %}
        <div class="film">
            {% if film.poster %}
                <div class="film__preview">
                    <img src="{{ film.poster }}" alt="{{ film.title }}">
                </div>
            {% endif %}

            <div class="film__title">{{ film.title }}</div>

            {% if film.plot %}
                <div class="film__description">{{ film.plot }}</div>
            {% endif %}

            <div class="film__link"><a href="//{{ website }}{{ film.get_absolute_url }}" target="_blank">{% trans 'Download' %}</a></div>
        </div>
    {% endfor %}
</div>

<p>{% trans 'Have a good day!' %}</p>
<p>
    {% trans 'If you no longer want to receive the newsletter, you can ' %}<a href="{{ unsubscribe }}">{% trans 'unsubscribe' %}.</a>
</p>
