{% load i18n %}

<nav class="navbar navbar-expand-xl navbar-dark bg-dark visible {{ classes }}" role="navigation">
    <div class="container container--desktop">
        <a class="navbar-brand" href="{% url 'index' %}" role="banner">{% trans 'Collect Films' %}</a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#{{ collapseModify }}" aria-controls="{{ collapseModify }}" aria-expanded="false" aria-label="{% trans 'Change navigation' %}">
            <span class="navbar-toggler__icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'films:genres' %}"><span>{% trans 'Genres' %}</span></a>
                    <div class="submenu">
                        <ul>
                            {% for GENRE in GENRES %}
                                <li>
                                    <a href="{{ GENRE.link_genre }}">
                                        <span>{{ GENRE.value }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#popular"><span>{% trans 'Popular' %}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#recommend"><span>{% trans 'Recommend' %}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#news"><span>{% trans 'News' %}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#bestsellers"><span>{% trans 'Bestsellers' %}</span></a>
                </li>

                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link" href="{% url 'blog:page' %}">{% trans 'Blog' %} <span class="sr-only">(current)</span></a>#}
                {#                    </li>#}
            </ul>

            <div class="additional-buttons">
                <form action="{% url 'films:search' %}" method="get" class="formSearch" autocomplete="off">
                    <input type="search" aria-label="" class="textSearch" name="search" placeholder="Example: Harry Potter">
                    <button type="submit" class="btn btn--icon btn-icon--search btnSearch">
                        <span class="icon"></span>
                    </button>
                </form>
                <button type="button" class="btn btn--subscription-popup btn--pink open-popup-subscribe">
                    <span>{% trans 'Subscription' %}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container container--mobile container--tablet">
        <div class="collapse" id="{{ collapseModify }}">
{#            <div class="bg-dark">#}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'films:genres' %}"><span>{% trans 'Genres' %}</span></a>
                        <div class="submenu">
                            <ul>
                                {% for GENRE in GENRES %}
                                    <li>
                                        <a href="{{ GENRE.link_genre }}">
                                            <span>{{ GENRE.value }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#popular"><span>{% trans 'Popular' %}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#recommend"><span>{% trans 'Recommend' %}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#news"><span>{% trans 'News' %}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bestsellers"><span>{% trans 'Bestsellers' %}</span></a>
                    </li>
                </ul>


                <div class="additional-buttons">
                    <form action="{% url 'films:search' %}" method="get" class="formSearch" autocomplete="off">
                        <input type="search" aria-label="" class="textSearch" name="search" placeholder="Example: Harry Potter">
                        <button type="submit" class="btn btn--icon btn-icon--search btnSearch">
                            <span class="icon"></span>
                        </button>
                    </form>
                    <button type="button" class="btn btn--subscription-popup btn--pink open-popup-subscribe">
                        <span>{% trans 'Subscription' %}</span>
                    </button>
                </div>
{#            </div>#}
        </div>
    </div>
</nav>