{% extends '_components/popup.html' %}

{% load crispy_forms_filters %}
{% load i18n %}

{% block popup_content %}
    <div class="title title--popup">Subscribe Now!</div>

    <form action="{% url 'subscribes:subscribe' %}" method="post" autocomplete="off" class="form-subscribe">
        {% csrf_token %}
        <div class="fields">
            {{ form|crispy }}
        </div>
        <div class="btn-wrapper">
            <button type="submit" class="btn btn--subscription-popup btn--white subscribe">
                <span>{% trans 'Subscribe' %}</span>
            </button>
        </div>
    </form>
{% endblock %}