{% extends 'base.html' %}

{% load static %}
{% load subscribes %}

{% block styles %}
    <link rel="preload" href="{% static 'styles/pages/main.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" type="text/css" href="{% static 'styles/pages/main.min.css' %}"></noscript>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/main/page.js' %}"></script>
{% endblock %}

{% block content %}
        <div class="page-content">
            <div class="blocks">
                {% include 'films/blocks/popular.html' with block_films=popular %}
                {% include 'films/blocks/recommend.html' with block_films=recommend %}
                {% include 'films/blocks/news.html' with block_films=news %}
                {% include 'films/blocks/bestsellers.html' with block_films=bestsellers %}
            </div>

            {% subscribe_block %}
        </div>
{% endblock %}
