{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


<div class="block block-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-4 col-xl-4">
                <h2 class="title block-title">{% trans 'Subscribe to our newsletter!' %}</h2>
                <div class="description">
                    {% blocktrans %}
                        <p>Very busy and have no time to look for a movie?</p>
                        <p>Subscribe to our newsletter and get a new selection every week!</p>
                    {% endblocktrans %}
                </div>
                <form action="{% url 'subscribes:subscribe' %}" method="post" autocomplete="off" class="form-subscribe">
                    {% csrf_token %}

                    <div class="fields">
                        {{ form|crispy }}
                    </div>
                    <div class="btn-wrapper">
                        <button type="submit" class="btn btn--subscription-popup btn--white subscribe">
                            <span>{% trans 'Subscribe' %}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>