{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="preload" href="{% static 'styles/pages/film.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" type="text/css" href="{% static 'styles/pages/film.min.css' %}"></noscript>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>You're unsubscribe!</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
