@import "../../vars";


.navbar {
  padding-top: 0;
  padding-bottom: 0;
  overflow: visible;
  z-index: 3;

  .navbar-nav {
    margin-left: -10px;
    margin-right: -10px;
  }

  .navbar-toggler {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border: 0;
    width: 30px;
    height: 20px;
    position: relative;

    &:focus {
      outline: none;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: transform .15s ease;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &__icon {
      height: 2px;
      left: 0;
      background-color: #fff;
      width: 100%;
      position: absolute;
      opacity: 1;
      transition: opacity .15s ease;
    }

    &:not(.collapsed) {
      &:before {
        transform: rotate(-45deg);
        top: 50%;
      }
      &:after {
        transform: rotate(45deg);
        top: 50%;
      }
      .navbar-toggler__icon {
        opacity: 0;
      }
    }
  }

  .nav-item {
    position: relative;

    .submenu   {
      position: absolute;
      background-color: #212529;
      box-sizing: border-box;
      width: 500px;
      bottom: 0;
      left: 0;
      transform: translateY(100%);

      ul {
        height: 0;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

        li {
          width: 50%;

          a {
            color: #fff;
            width: 100%;
            height: 100%;
            display: block;
            padding: 10px;
            box-sizing: border-box;
            background-color: rgba($default_green, 0);

            &:hover {
              background-color: rgba($default_green, 1);
            }

            &, &:hover {
              transition: background-color $default_animation_time ease;
            }
          }
        }
      }

      @media (max-width: 1200px) {
        display: none;
      }
    }

    .nav-link {
      padding: 15px 10px;
      box-sizing: border-box;
      background-color: rgba($default_green, 0);

      &:hover {
        background-color: rgba($default_green, 1);
      }

      &, &:hover {
        transition: background-color $default_animation_time ease;
      }

      //@media (max-width: 768px) {
      //  padding: 15px 0;
      //}
    }

    &:hover {
      .submenu ul {
        height: 100%;
      }
    }

    &, &:hover {
      .submenu ul {
        transition: height .15s ease;
      }
    }
  }
  &--fixed {
    transition: top .15s ease;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: -100vh;

    .nav-item .submenu {
      transform: translateY(100%);
    }
  }

  &--fixed.visible {
    top: 0;
    //height: 100vh;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

//.additional-buttons {
//  @media (max-width: 1024px) {
//    display: none;
//  }
//}

//.navbar-expand-md .navbar-toggler {
//  @media (min-width: 768px) {
//    display: block;
//  }
//  @media (min-width: 1024px) {
//    display: none;
//  }
//}

//.navbar-collapse {
//  @media (min-width: 768px) {
//    display: none!important;
//  }
//  @media (min-width: 1024px) {
//    display: flex!important;
//    flex-basis: auto;
//  }
//}
//.collapse.show {
//  min-height: 100vh;
//}

//.collapse {
//  transition: min-height .15s ease;
//}