{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="preload" href="{% static 'styles/pages/film.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" type="text/css" href="{% static 'styles/pages/film.min.css' %}"></noscript>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/film.min.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="page-content">
        <div class="film" data-film="{{ film.id }}">
            <div class="container">
                <div class="row">
                    {% if film.poster %}
                        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="poster">
                                <img src="{{ film.poster }}" alt="{{ film.title }}" loading="lazy"/>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                        <table class="table table-striped table-success">
                            <tr>
                                <td>
                                    <span>{% trans 'title' %}</span>
                                </td>
                                <td>
                                    <span>{{ film.title }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{% trans 'Year' %}</span>
                                </td>
                                <td>
                                    <span>{{ film.year }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{% trans 'Producer' %}</span>
                                </td>
                                <td>
                                    <span>Nikolas A.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{% trans 'Genre' %}</span>
                                </td>
                                <td>
                                    <span>{{ film.str_genres }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{% trans 'Actors' %}</span>
                                </td>
                                <td>
                                    <span>{{ film.str_actors }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{% trans 'Rating' %}</span>
                                </td>
                                <td>
                                    <span>{{ film.format_rating.rating }} / 5</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{% trans 'Awards' %}</span>
                                </td>
                                <td>
                                    <span>{{ film.awards }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{% trans 'Runtime' %}</span>
                                </td>
                                <td>
                                    <span>{{ film.runtime }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{% trans 'Plot' %}</span>
                                </td>
                                <td>
                                    <span>{{ film.plot }}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                {% if film.trailer %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="trailer">
                                <iframe src="{{ film.trailer }}?autoplay=1" width="640" height="360" class="film__trailer"></iframe>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if movies_list %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="torrents">
                                <table class="table table-striped table-success">
                                    <thead>
                                    <tr>
                                        <td>{% trans 'Quality' %}</td>
                                        <td>{% trans 'Torrent' %}</td>
                                        <td>{% trans 'Magnet' %}</td>
                                        <td>{% trans 'Size' %}</td>
                                        <td>{% trans 'Seeds' %}</td>
                                        <td>{% trans 'Peers' %}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for torrent in movies_list %}
                                        <tr>
                                            <td>{{ torrent.quality }}</td>
                                            <td><a href="{{ torrent.url }}">{% trans 'Download' %}</a></td>
                                            <td><a href="{{ torrent.magnet }}">{% trans 'Magnet' %}</a></td>
                                            <td>{{ torrent.size }}</td>
                                            <td>{{ torrent.seeds }}</td>
                                            <td>{{ torrent.peers }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {#                {% include 'films/_components/_stage.html' %}#}
            </div>
        </div>
    </div>
{% endblock %}
