{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load subscribes %}

{% block styles %}
    <link rel="preload" href="{% static 'styles/pages/genre.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" type="text/css" href="{% static 'styles/pages/genre.min.css' %}"></noscript>
{% endblock %}

{#{% block scripts %}#}
{#    <script src="{% static 'scripts/genres/page.js' %}"></script>#}
{#{% endblock %}#}

{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="genre">
                <div class="films">
                    <div class="row">
                        {% for film in films %}
                                {% include 'films/_components/_film.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% subscribe_block %}
{% endblock %}
