{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load subscribes %}

{% block styles %}
    <link rel="preload" href="{% static 'styles/pages/genres.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" type="text/css" href="{% static 'styles/pages/genres.min.css' %}"></noscript>
{% endblock %}


{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="genres">
                <div class="row">
                    {% for GENRE in GENRES %}
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <div class="genre">
                                <a href="{{ GENRE.link_genre }}" class="genre-wrapper">
                                    <div class="preview">
                                        <img src="{{ GENRE.film_genre.poster }}" alt="{{ GENRE.value }}" loading="lazy">
                                    </div>
                                    <div class="title">
                                        <span>{{ GENRE.value }}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% subscribe_block %}
{% endblock %}
