{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="preload" href="{% static 'styles/pages/search.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" type="text/css" href="{% static 'styles/pages/search.min.css' %}"></noscript>
{% endblock %}

{#{% block scripts %}#}
{#    <script src="{% static 'scripts/genres/page.js' %}"></script>#}
{#{% endblock %}#}

{% block content %}
    <div class="page-content">
        <div class="search" id="search-page">
            <div class="container">
                <div class="filters">
                    <div class="row">
                        <form action="#" id="filters" method="get" @submit="sendForm" class="formFilters">
                            <div class="fields">

                                <div class="field">
                                    <div class="form-group">
                                        <input type="text" placeholder="Example: Harry Potter" aria-label="" id="searchTitle" v-model="title" @input="updateFilms" class="form-control">
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="search-information search-information--hidden">
                    <div class="search-preloader"></div>
                    <div class="search-error"></div>
                </div>
                <div class="films">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
