{% if block_films %}
    <section class="block block-films {{ classes }}">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    {% if title %}
                        <h2 class="title block-title">{{ title }}</h2>
                    {% endif %}

                    <div class="films">
                        <div class="row">
                            {% for film in block_films %}
                                {% if forloop.counter == 1 %}
                                    {% include 'films/_components/_top.html' %}
                                {% else %}
                                    {% include 'films/_components/_film.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
