<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <div class="film">
        <a href="{{ film.get_absolute_url }}" class="film-wrapper">
            {% if film.poster %}
                <div class="film__preview preview">
                    <img src="{{ film.poster }}" alt="{{ film.title }}" loading="lazy">
                </div>
            {% endif %}

            <div class="film__information">
                <div class="film__title">{{ film.title }}</div>
                <div class="film__rating">
                    {% for _ in film.format_rating.whole_range %}
                        <div class="star star--active"></div>
                    {% endfor %}
                    {% if film.format_rating %}
                        <div class="star star--active" data-percent="{{ film.format_rating.particular }}"></div>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
</div>