<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="top-film {{ classes }}">
        <a href="{{ film.get_absolute_url }}" class="film-wrapper">
            <div class="film__preview preview">
                <img src="{{ film.poster }}" alt="{{ film.title }}" loading="lazy">
            </div>

            <div class="film__information">
                <div class="film__title">{{ film.title }}</div>
                <div class="film__rating">
                    {% for _ in film.format_rating.whole_range %}
                        <div class="star star--active"></div>
                    {% endfor %}
                    <div class="star star--active" data-percent="{{ film.format_rating.particular }}"></div>
                </div>
                {% if film.plot %}
                    <div class="film__description">
                        {{ film.plot }}
                    </div>
                {% endif %}
            </div>
        </a>
    </div>
</div>